div{
	text-align: center;
}
#header{
	background-color: #dee2e6;
	padding-bottom: 1em;
}

.defaultButton {
	width: 6em;
	height: 2.5em;
	/* border-radius: 0.2em; */
	background-color: #6acef1;/* ST light blue */
	border: none;
	color: white;
	font-size: large;
	font-weight: bold;
	margin: 10px;
	cursor: pointer;
	box-shadow: 2px 2px rgba(20, 54, 94, 0.658);
	
}

.defaultButton:hover {
	transition: 0.2s;
	box-shadow: 3px 3px rgba(20, 54, 94, 0.658);
	background-color: #112258;/* ST dark blue */
	color: white;
}

.defaultButton:active {
	background-color: #112258;/* ST dark blue */
	box-shadow: 0 3px rgba(20, 54, 94, 0.658);
	transform: scale(0.95);
	/* transform: translateY(3px); */
  }

.connectedStyleButton {
	opacity: 0.8;
    cursor: not-allowed;
	width: 6em;
	height: 2.5em;
	/* border-radius: 0.5em; */
	background-color: #dadada;
	border: 3px rgb(168, 228, 168) solid;
	color: white;
	font-size: large;
	font-weight: bold;
	transition-duration: 1s;
	margin: 10px;
	cursor: pointer;
	pointer-events: none;
}

img {
	margin: 5px;
	width: 16em;
}

/* #readLabel {
	margin: 22px;
	display: inline-block;
	text-align: center;
	font-size: large;
	width: 10em;
} */

.textInput {
	margin: 20px;
	text-align: center;
	font-size: large;
	width: 10em;
	height: 3em;
}

.fileInput {
	background: rgb(73, 102, 129);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #112258;/* ST dark blue */
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	transition-duration: 1s;
  }
  
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
transform: scale(1.05);
color: #6acef1;/* ST light blue */

}

#logPanel {
	width: min-content;
	position: absolute;
	top: 0;
    left: 0;
    overflow: auto;
	height: -webkit-fill-available;
	
}

.logElememt {
	margin-top: 5px;
	background-color: azure;
	text-align: left;
	float: left;
	padding-left: 10px;
	width: -webkit-fill-available;
}

.card-text {
	text-align: left;
}